

/* pause menu styling */

.pauseMenu {
    position: fixed;

    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */

    padding: 7rem;
    width: 20rem;
    height: 5rem;

    background: linear-gradient(
      186.1deg,
      rgba(110, 198, 65, 0.2) 13.63%,
      rgba(110, 198, 65, 0) 95.41%
    );
    border: 10px solid;
    border-image: linear-gradient(
      180deg,
      rgba(137, 238, 86, 0.966) 22.63%,
      rgba(32, 85, 6, 0.767) 95.41%
    );

    border-image-slice: 80;

  }


  /* buttons */


  .buttonContainer {
    
    display: flex;
    align-items: center;
    justify-content: center;

  }


  .resumeButton {
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 0!important;

    background: linear-gradient(
      186.1deg,
      rgba(110, 198, 65, 0.2) 13.63%,
      rgba(110, 198, 65, 0) 95.41%
    ); 

    background-image: url(./assets/images/button-frame.png);
    background-size: cover;
  
    border-radius: 0rem!important;
    border-style: none!important;
    border: none!important;

    width: 8rem!important;
    height: 3.4rem!important;
  }

  .backToMain {
/* 
    justify-content: flex-start;
    align-items: center; */

    background: linear-gradient(
      186.1deg,
      rgba(110, 198, 65, 0.2) 13.63%,
      rgba(110, 198, 65, 0) 95.41%
    ); 

    background-image: url(./assets/images/button-back-to-menu.png);
    background-size: cover;

  
    border-radius: 0rem!important;
    border-style: none!important;
    border: none!important;

    width: 20rem!important;
    height: 3.2rem!important;

  }