html,
body,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  background: black;
  font-family: "VT323", monospace;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  font-family: "VT323", monospace;
  background: transparent;
  width: 5rem;
  height: 2rem;
  border-radius: 20px;
  border-style: none;
  font-size: 20px;
  color: #6ec641;
  border: none;
  z-index: 1000;
}

button:focus {
  border: none;
  outline: none;
  background: transparent;
}

.menu-text-frame {
  width: 40%;
  background: linear-gradient(
    186.1deg,
    rgba(110, 198, 65, 0.2) 13.63%,
    rgba(110, 198, 65, 0) 95.41%
  );
  border: 10px solid;
  border-image: linear-gradient(
    180deg,
    rgba(110, 198, 65, 0.2) 13.63%,
    rgba(110, 198, 65, 0) 95.41%
  );
  border-image-slice: 80;

  margin-left: 2rem;
}

.menu-text {
  color: #6ec641;
  font-size: 1rem;
  padding: 1rem;
  /* margin-top: 6rem; */
}

.button-container {
  position: relative;
  width: 20%;
}

.start-game-bg {
  position: relative;
  width: 100%;
}

.about-bg {
  position: relative;
  width: 100%;
}

#about {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#start-game {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#main-menu {
  width: 960px;
  height: 720px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/images/menu-background.png);
  background-size: cover;
}

#menu-frame {
  background-image: url(./assets/images/menu-frame.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 80%;
  position: relative;
  text-align: center;
}
